.projectCard {
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    cursor: pointer;
    position: relative;

}

.projectCard::after {
    position: absolute;
    top: 50%;
    right: 0;
    left: -2px;
    transform: translateY(-50%);
    height: 0%;
    z-index: 1;
    width: calc(100% + 4px);
    opacity: .7;
    box-shadow: 0 -10px 0 0 var(--primary-color), 0 10px 0 0 var(--light-green-color);
    content: "";
    transition: height .4s ease-in-out;

}
.projectCard:hover::after {
    height: 110%;
}

.cardContent {
    padding: 10px;
}

.projectCard img {
    width: 100%;
}

.cardContent .tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;

}

.cardContent .tags .tag:nth-child(2) {
    color: var(--primary-color);

}

.cardContent .tags .tag:nth-child(1) {
    color: var(--light-green-color);

}

.cardContent .tags .tag:nth-child(3) {
    color: var(--light-green-color);

}

.cardContent .tags .tag {
    margin-right: 10px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

.cardContent .projectTitle {
    margin: 15px 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(64, 64, 64);
}

.viewProject{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 10;
}

.projectCard:hover .cardContent {
    opacity: .1;
    transition: all .1s;
}
.projectCard:hover img {
    opacity: .1;
    transition: all .1s;
}
.projectCard:hover .viewProject {
    visibility: visible;
}

