.projectsPageHead {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--light-gray-color);
}

.projectsPageHead h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-color);
}

.projectsPageContent {

}

.HomeBtn{
    border: none;
    background-color: var(--primary-color);
    padding: 7px 15px;
    color: #fff;
    font-weight: 600;
    transition: all .3s;
}
.HomeBtn:hover{
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    transform: scale(1.1);

}